.login-container{
    height: 350px;
    width: 300px;
    margin: 50px auto 0;
    padding: 10px;
    border: 2px solid skyblue;
    background: silver;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(13, 2, 54);
}
.email-container label{
    margin-right: 200px;
}
#email-input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    display: block;
}

.pass-container{
    margin-right: 200px;   
}
#pass-input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    display: block;
}

#login-btn{
    display: block;
    margin: 10px auto 0;
    height: 20px;
    width: 80px;
    background: blue;
    color: white;
    border-radius: 5px;
}
.sp{
    display: block;
}
.email-container label{
    margin-right: 200px;
}
#email-input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    display: block;
}
